@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 34px;
  letter-spacing: 0.2px;
  color: #F1F1F1;
}