@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #F1F1F1;
  margin: 0;
}

h4 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(241, 241, 241, 0.8);
  margin: 0;
}